.content{color:#777;font:12px/1.4 "helvetica neue",arial,sans-serif;width:90%;/*margin:20px auto; */ overflow:hidden; height:0;}
            h1{font-size:12px;font-weight:normal;color:#ddd;margin:0;}
            p{margin:0 0 20px}
            a {color:#22BCB9;text-decoration:none;}
            .cred{margin-top:20px;font-size:11px;}

            /* This rule is read by Galleria to define the gallery height: */
            .image_gallery{height:520px}